<!DOCTYPE html>
<html>
<head>
    <title>USC 2016 Spring 544 Team 28 - Fantastic Four</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../static/css/cus.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/cus.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">544 Project - Team28</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li {% if request.path=='/' %} class="active" {% endif %}><a href="/">Summary</a></li>
                <li {% if request.path=='/search' %} class="active" {% endif %}><a href="/search">Search Analyzer</a>
                </li>
                <li {% if request.path=='/futurework' %} class="active" {% endif %}><a href="/futurework">Future
                    Work</a></li>
                <li {% if request.path=='/team' %} class="active" {% endif %}><a href="/team">Team</a></li>
            </ul>

        </div>
    </div>
</div>

<div class="container">

    {% block content %}
    {% endblock %}


    <footer>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="page-footer" align="center">
                    <small>Copyright &copy; 2016 Spring 544 Team 28 - Fantastic Four</small>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>