{% extends "base.html" %}
{% block content %}
<div class="list-group">
  <a href="#" class="list-group-item list-display">
    1.  We find Positive Recall is higher than Negative. It seems a lot false negatives appeared in positive label. One explanation is the unblanced training data.
      In the training data provided by SIGHAN-8, number of negative microblog is twice of positive microblog.
      So we will optimize feature extraction process to eliminate the influence of this unbalance
  </a>
  <a href="#" class="list-group-item list-display">2.  The data filter still needs optimization.  Some unique Chinese Punctuation are appeared in bag of words, this will absolutely decrease precision</a>
  <a href="#" class="list-group-item list-display">3.  Emotion icon is very important for microblog's sentiment analysis.
      We will add emoticon analyzer very soon and weights the result with previous result</a>
  <a href="#" class="list-group-item list-display">4.  We will implement an approach to optimize the analysis of new words based on emition icon and latent polarity. (http://link.springer.com/chapter/10.1007%2F978-3-319-18117-2_13)</a>
  <a href="#" class="list-group-item list-display">5.  Use Word Vector to optimize the result. We will have two approachs (Vector Averaging, Clustering)
word vectors.</a>
</div>

{% endblock %}