{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <div class="page-header">
                <h1>Result of Sentiment Analyzer</h1>
            </div>

          <span>
          <table class="table table-striped table-bordered table-hover ">
              <thead>
              <tr>
                  <th>Classifier</th>
                  <th>Accuracy</th>
                  <th>Overall Fscore</th>
                  <th>Overall Precision</th>
                  <th>Overall recall</th>
                  <th>Pos Count</th>
                  <th>Neg Count</th>
                  <th>Pos FScore</th>
                  <th>Pos Precision</th>
                  <th>Pos Recall</th>
                  <th>Neg FScore</th>
                  <th>Neg Precision</th>
                  <th>Neg Recall</th>
              </tr>
              </thead>
              <tbody>
              {% for result in testResults%}
              <tr>
                  <td>{{ result.classifier }}</td>
                  <td>{{ result.accuracy }}</td>
                  <td>{{ result.f_score }}</td>
                  <td>{{ result.precision }}</td>
                  <td>{{ result.recall }}</td>
                  <td>{{ result.pos_count }}</td>
                  <td>{{ result.neg_count }}</td>
                  <td>{{ result.pos_f_score }}</td>
                  <td>{{ result.pos_precision }}</td>
                  <td>{{ result.pos_recall }}</td>
                  <td>{{ result.neg_f_score }}</td>
                  <td>{{ result.neg_precision }}</td>
                  <td>{{ result.neg_recall }}</td>
              </tr>
              {% endfor %}

              </tbody>
          </table>
        </span>
        </div>
    </div>
{% endblock %}
